@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

$fontOpenSans: 'Open Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

html {
    font-size: 62.5%;
}
// body{
//     &::-webkit-scrollbar {
//         width: 12px;
//         background-color: $Violet;
//     }
//     &::-webkit-scrollbar-thumb{
//         background-color: $SoftMagenta;
//         border-radius: 2px;
//     }
// }
.main {
    background-color: $Violet;
    background-image: url('../images/bg-mobile.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .information {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 1em;
        &__logo {
            img {
                display: inline-block;
                margin-top: 3em;
                width: 11em;
            }
        }
        &__container {
            .information__illustration {
                width: 100%;
                max-width: 600px;
                margin: 3em auto;
            }
            .information__data {
                max-width: 600px;
                margin: 0 auto;
                h1 {
                    font-size: 2.5rem;
                    color: #fff;
                    text-align: center;
                    font-family: $fontPoppins;
                }
                p {
                    font-size: 1.5rem;
                    color: #fff;
                    font-family: $fontOpenSans;
                    text-align: center;
                    font-weight: 400;
                    margin: 1em 0;
                }
                .information__cta {
                    width: max-content;
                    display: block;
                    margin: 0 auto;
                    padding: .7em 4em;
                    background-color: #fff;
                    color: $Violet;
                    font-family: $fontPoppins;
                    font-weight: 400;
                    text-decoration: none;
                    font-size: 1.5rem;
                    border-radius: 2em;
                    transition: color .3s, background-color .3s;
                    &:hover {
                        color: #fff;
                        background-color: $SoftMagenta;
                    }
                }
                .socialMedia {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 2em;
                    margin: 3em 0;
                    a {
                        color: #fff;
                        transition: color .3s, transform .5s;
                        &:hover {
                            color: $SoftMagenta;
                            transform: rotate(15deg);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px){
    .main {
        position: relative;
        background-image: url('../images/bg-desktop.svg');
        .information {
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
            padding: 0;
            &__logo {
                img {
                    margin-top: 0;
                    width: 11em;
                }
            }
            &__container {
                margin-top: 3em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2em;
                align-items: center;
                justify-content: center;
                .information__illustration {
                    width: 100%;
                    max-width: none;
                    margin: 0 auto;
                }
                .information__data {
                    max-width: 600px;
                    margin: 0 auto;
                    padding: 1.5em;
                    h1 {
                        font-size: 3rem;
                        text-align: start;
                    }
                    p {
                        font-size: 1.6rem;
                        text-align: start;
                        margin: 1.5em 0;
                    }
                    .information__cta {
                        width: max-content;
                        display: block;
                        margin: 0;
                        font-size: 1.6rem;
                    }
                    .socialMedia {
                        position: absolute;
                        bottom: 0;
                        right: 2em;
                        gap: 2em;
                        margin: 3em 0;
                        a {
                            color: #fff;
                            transition: color .3s, transform .5s;
                            &:hover {
                                color: $SoftMagenta;
                                transform: rotate(15deg);
                            }
                        }
                    }
                }
            }
        }
    }
}